@charset "utf-8";
.quick-menu {top:615px;}

.content {width:100%;}

.wrapper {
	overflow: hidden;
	min-width: 1000px;
}
.main-container {margin-top:-1px;}
.main-container .content {padding-bottom:0;}
/* 비주얼 슬라이드 */
.visual-banner {background-color:#d5d5d5;}
.visual-banner .center-box {
	position:relative;
	width:100%;
	height:434px;
	margin:0 auto;
}
.visual-banner .title-list {
	overflow:hidden;
	position:absolute;
	bottom:0; left:50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width:1000px;
	z-index:1;
}
.visual-banner .title-item {
	position: relative;
	float:left;
	width:334px;
	margin-left:-1px;
	border-left:1px solid #505050;
	box-sizing: border-box;
}
.visual-banner .title-item:first-child {
	margin-left:0;
	border-left:0;
}
.visual-banner .title-item.on {
	-webkit-transition:all 1s;
	-ms-transition:all 1s;
	transition:all 1s;
	border-left:1px solid #ea002c;
}
.visual-banner .title-item .text {
	display:block;
	height:46px;
	background-color:#3b3b3b;
	color:#fff;
	font-size:16px;
	text-align:center;
	line-height:46px;
	cursor:pointer;
	z-index: 0;
}
.visual-banner .title-item.on .text {
	-webkit-transition:all 1s;
	-ms-transition:all 1s;
	transition:all 1s;
	color:#fff;
	background-color:#ea002c;
	z-index: 1;
}/* on */

.visual-banner .img-list {}
.visual-banner .img-item {
	opacity:0;
	position:absolute;
	left:0;right:0;top:0;bottom:0;
	-webkit-transition:all 1s;
	-ms-transition:all 1s;
	transition:all 1s;
	min-width: 1000px;
	text-align: center;
}
.visual-banner .img-item.on {opacity:1;}
.visual-banner .img-item .link {
	display:block;
	height:510px;
}
.visual-banner .img-item img {
	position: absolute;
	top:0; left:50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
	width:1024px;
	height:434px;
}

.visual-banner .btn-area {
	overflow:hidden;
	position:absolute;
	top:37px; right:50%;
	width:107px; height:37px;
	margin-right:-500px;
	background-color:rgba(0, 0, 0, 0.2);
	z-index:1;
	border-radius: 3px;

}
.visual-banner .btn-area button {
	position: relative;
	float:left;
	width:35px;
	height:37px;
	margin-left:1px;
	background-image:url(../img/sprite_btn.png);
	background-repeat:no-repeat;
	font-size:0;
	text-indent:-9999px;
	line-height:0;
}
.visual-banner .btn-area button:first-child {
	margin-left:0;
}
.visual-banner .btn-area button:before {
	content:'';
	position: absolute;
	top:50%; left:-1px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	width:1px; height:19px;
	background-color:rgba(255, 255, 255, 0.2);
}
.visual-banner .btn-area button:first-child:before {
	display: none;
}
.visual-banner .btn-area button:hover {opacity:1;}
.visual-banner .btn-area .btn-prev {background-position:0 -143px;}
.visual-banner .btn-area .btn-next {background-position:0 -182px;}
.visual-banner .btn-area .btn-stop {background-position:0 -221px;}
.visual-banner .btn-area .btn-stop.play {background-position:0 -260px;}

.car-obj {
	position: absolute;
	bottom:43px; left:50%;
	width:1000px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.car-obj .car {
	display: inline-block;
	position:absolute;
	left:0; bottom:0;
}

.car-obj .car img {vertical-align: top;}
.car-obj .car .wheel {
	position: absolute;
	bottom:5px;
	width:18px; height:18px;
}
.car-obj .car.animate .wheel {
	position: absolute;
	bottom:5px;
	width:18px; height:18px;
	-webkit-animation: spin 1s infinite linear;
	-ms-animation: spin 1s infinite linear;
	-moz-animation: spin 1s infinite linear;
	-o-animation: spin 1s infinite linear;
	animation: spin 1s infinite linear;
}
.car-obj .car .wheel.front {
	right:10px;
}
.car-obj .car .wheel.back {
	left:9px;
}
@-webkit-keyframes spin {
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@-ms-keyframes spin {
	from {-ms-transform: rotate(0deg);}
	to {-ms-transform: rotate(360deg);}
}
@-moz-keyframes spin {
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(360deg);}
}
@-o-keyframes spin {
	from {-o-transform: rotate(0deg);}
	to {-o-transform: rotate(360deg);}
}
@keyframes spin {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
.car-obj .car .smoke {
	position: absolute;
	opacity:0;
}
.car-obj .car.animate .smoke.front {
	left:-18px;
	bottom:10px;
	width:16px;
	height:13px;
	-webkit-animation: opacity1 2s infinite linear;
	-ms-animation: opacity1 2s infinite linear;
	-moz-animation: opacity1 2s infinite linear;
	-o-animation: opacity1 2s infinite linear;
	animation: opacity1 2s infinite linear;
}
@-webkit-keyframes opacity1 {
	0% {opacity:0;}
	25% {opacity:0;}
	50% {opacity:1;}
	75% {opacity:1;}
	100% {opacity:1;}
}
@-ms-keyframes opacity1 {
	0% {opacity:0;}
	25% {opacity:0;}
	50% {opacity:1;}
	75% {opacity:1;}
	100% {opacity:1;}
}
@-moz-keyframes opacity1 {
	0% {opacity:0;}
	25% {opacity:0;}
	50% {opacity:1;}
	75% {opacity:1;}
	100% {opacity:1;}
}
@-o-keyframes opacity1 {
	0% {opacity:0;}
	25% {opacity:0;}
	50% {opacity:1;}
	75% {opacity:1;}
	100% {opacity:1;}
}
@keyframes opacity1 {
	0% {opacity:0;}
	25% {opacity:0;}
	50% {opacity:1;}
	75% {opacity:1;}
	100% {opacity:1;}
}
.car-obj .car.animate .smoke.back {
	left:-44px;
	bottom:7px;
	width:23px;
	height:19px;
	-webkit-animation: opacity2 2s infinite linear;
	-ms-animation: opacity2 2s infinite linear;
	-moz-animation: opacity2 2s infinite linear;
	-o-animation: opacity2 2s infinite linear;
	animation: opacity2 2s infinite linear;
}
@-webkit-keyframes opacity2 {
	0% {opacity:0;}
	25% {opacity:0;}
	50% {opacity:0;}
	75% {opacity:1;}
	100% {opacity:1;}
}
@-ms-keyframes opacity2 {
	0% {opacity:0;}
	25% {opacity:0;}
	50% {opacity:0;}
	75% {opacity:1;}
	100% {opacity:1;}
}
@-moz-keyframes opacity2 {
	0% {opacity:0;}
	25% {opacity:0;}
	50% {opacity:0;}
	75% {opacity:1;}
	100% {opacity:1;}
}
@-o-keyframes opacity2 {
	0% {opacity:0;}
	25% {opacity:0;}
	50% {opacity:0;}
	75% {opacity:1;}
	100% {opacity:1;}
}
@keyframes opacity2 {
	0% {opacity:0;}
	25% {opacity:0;}
	50% {opacity:0;}
	75% {opacity:1;}
	100% {opacity:1;}
}

/* main contents */
.section {
	width:100%;
	padding-bottom:60px;
}
.section.type02 {
	position: relative;
	padding-top:60px;
	background:#efefef;
}
.section.type02:before {
	content: '';
	position: absolute;
	top:0; left:50%;
	width:1500px;
	height:531px;
	background:url(../img/bg/bg_main.jpg) 0 0 no-repeat;
	-webkit-transform:translateX(-965px);
	-ms-transform:translateX(-965px);
	transform:translateX(-965px);
}
.section.type03 {
	padding-top:60px;
	background-color:#333;
}
.section .section-cont {
	position: relative;
	width:1000px;
	margin:0 auto;
}
.section .section-footer {overflow: hidden;}
.section .title {text-align: center;}
.section .title h2 {
	position: relative;
	display: inline-block;
	color:#000;
	font-size:26px;
	font-family:'noto';
	font-weight:600;
	text-align:center;
	line-height: 116px;
}
.section .title h2 span {
	color:#f10739;
}
.section .title h2:before {
	content: '';
	position: absolute;
	bottom:34px; left:0; right:0;
	width: 60px;;
	height:2px;
	margin: 0 auto;
	background-color:#999;
}
.rent-wrap {
	width:100%;
	border:1px solid #d9d9d9;
	border-top:0;
	box-sizing: border-box;
}
.rent-tab {
	overflow:hidden;
	margin:0 -1px;
}
.rent-tab .item {
	float:left;
	width:25%;
	cursor:pointer;
}
.rent-tab .item .text {
	display:block;
	height:60px;
	border:1px solid #d9d9d9 ;
	border-bottom:2px solid #ea002c;
	border-left:0;
	background-color:#f4f4f4;
	box-sizing:border-box;
	font-size:16px;
	color:#666;
	line-height:60px;
	text-align:center;
}
.rent-tab .item.on .text {
	border:2px solid #ea002c;
	border-bottom:1px solid #fff;
	background-color:#fff;
	color:#000;
}
.rent-tab .item:first-child.on .text {border-left:1px solid #d9d9d9;}
.rent-tab .item:first-child .text {border-left:1px solid #d9d9d9;}
.rent-tab .item:last-child .text {border-right:1px solid #d9d9d9;}


.rent-tab-list {}
.rent-tab-list .rent-area {opacity:0;}

.rent-cont {
	position: relative;
	width:900px;
	margin:40px auto 20px;
}
.rent-list {overflow: hidden;}
.rent-list li {
	float:left;
	width:205px;
	margin:0 10px 23px;
}
.rent-list li .img-wrap {
	overflow:hidden;
	position:relative;
	width:205px;
	height:137px;
}
.rent-list li .img-wrap:before {
	content:'';
	position:absolute;
	top:0;left:0;right:0;bottom:0;
	z-index:5;
	box-sizing:border-box;
	border:3px solid #ea002c;
	opacity:0;
	-webkit-transition:all .5s;
	-ms-transition:all .5s;
	transition:all .5s;
}
.rent-list li:hover .img-wrap:before {opacity:1;}
.rent-list li .img-wrap img {
	width:100%;
	vertical-align: top;
	-webkit-transition:all 1.5s;
	-ms-transition:all 1.5s;
	transition:all 1.5s;
}
.rent-list li:hover .img-wrap img {
	-webkit-transform:scale(1.1,1.1);
	-ms-transform:scale(1.1,1.1);
	transform:scale(1.1,1.1);
}
.rent-list li .car {
	height: 38px;
	margin-top:5px;
	color:#666;
	font-size:14px;
	line-height: 19px;
}
.rent-list li:hover .car {
	color:#333;
	text-decoration: underline;
}
.rent-list li .price {
	color:#ea002c;
	font-size:20px;
	line-height: 30px;
}
.rent-list li .price .month {
	color:#333;
	font-size:15px;
}
.rent-cont .bx-controls .bx-pager {
	position: relative;
	z-index: 1;
	height: 12px;
	margin-top:-10px;
	text-align: center;
	line-height: 0;
}
.rent-cont .bx-controls .bx-pager-item {
	display: inline-block;
	margin: 0 5px;
	vertical-align:top;
}
.rent-cont .bx-controls .bx-pager-item .bx-pager-link {
	display: block;
	width:12px; height:12px;
	background-color:#ddd;
	border-radius:50%;
	font-size:0;
	line-height: 0;
	text-indent: -99999px;
}
.rent-cont .bx-controls .bx-pager-item .bx-pager-link.active {background-color:#ff7a00;}
.rent-cont .bx-controls .bx-controls-direction a {
	position:absolute;
	top:50%;
	width:31px; height:88px;
	margin-top:-88px;
	background-image:url(../img/sprite_btn.png);
	background-color:#ddd;
	background-repeat: no-repeat;
	font-size:0;
	line-height: 0;
	text-indent: -99999px;
}
.rent-cont .bx-controls .bx-controls-direction a.bx-prev {
	left:-50px;
	background-position: 0 -299px;
}
.rent-cont .bx-controls .bx-controls-direction a.bx-next {
	right:-50px;
	background-position: 0 -389px;
}
.rent-cont .bx-controls .bx-controls-direction a.disabled {display:none;}

/* 중고차 장기렌터카 검색 */
.rent-search {
	padding-bottom:39px;
	background-color:#fff;
	border:1px solid #d9d9d9;
	box-sizing: border-box;
}
.rent-search .search-area {margin:0 59px;}
.rent-search .row {
	position: relative;
	margin-top:10px;
}
.rent-search .row:first-child {margin-top:0;}
.rent-search .row:after {
	content: '';
	display: block;
	clear: both;
}
.rent-search .row .title {
	float:left;
	display: inline-block;
	width: 76px;
	color:#666;
	font-size: 15px;
	line-height: 45px;
	text-align: left;
}
.rent-search .row select {width:365px;}
.rent-search .row .connect-txt {
	display: inline-block;
	margin:0 5px;
	line-height: 45px;
	vertical-align: top;
	color:#666;
}
.rent-search .btn-wrap {margin-top:40px;}
.rent-search .btn-wrap .btn-rent {background-color:#ea002c;}
.rent-search .btn-wrap .btn-rent:hover {background-color:#f58025;}

/* 이벤트 배너 및 공지사항 */
.event-banner {
	float: left;
	position: relative;
	width:490px;
	height:246px;
}
.event-banner .event-bxslider .item {
	height: 246px;
}
.event-banner .item img {
	width: 490px;
	height:246px;
	vertical-align: top;
}
.event-banner .bx-controls-direction {
	position: absolute;
	bottom:30px; left:30px;
	width:54px; height:30px;
	background-color:rgba(0, 0, 0, 0.6);
	border-radius: 4px;
}
.event-banner .bx-controls-direction:before {
	content: '';
	position: absolute;
	top:8px; left:26px;
	width:1px; height:14px;
	background-color:rgba(255, 255, 255, 0.3);
}
.event-banner .bx-controls-direction a {
	display:inline-block;
	width:26px; height:30px;
	background-image:url(../img/sprite_btn.png);
	background-repeat: no-repeat;
	font-size:0;
	line-height: 0;
	text-indent: -99999px;
	vertical-align: top;
}
.event-banner .bx-controls-direction a.bx-prev {background-position: 0 -496px;}
.event-banner .bx-controls-direction a.bx-next {
	margin-left:2px;
	background-position: 0 -528px;
}

.notice-area {
	float: right;
	position: relative;
	width:490px;
	height:246px;
	padding:23px 30px 30px;
	background-color:#fff;
	box-sizing: border-box;
}
.notice-area .title {
	color:#000;
	font-size:24px;
	font-family:'noto';
	font-weight:600;
	text-align: left;
}
.notice-area .notice-list {margin-top:16px;}
.notice-area .notice-list li {border-top:1px solid #ddd;}
.notice-area .notice-list li:first-child {border-top:0;}
.notice-area .notice-list li a {
	overflow: hidden;
	display: block;
	width:100%;
	padding-right:10px;
	color:#666;
	font-size:15px;
	line-height: 36px;
	text-overflow: ellipsis;
	white-space: nowrap;
	box-sizing: border-box;
}
.notice-area .notice-list li a:hover {
	color:#333;
	text-decoration: underline;
}
.notice-area .btn-more {
	position: absolute;
	top:26px; right:30px;
}
